<launch>
<!--	<env name="ROS_HOSTNAME" value="EN4102960.local" /> -->
	<env name="ROS_MASTER_URI" value="http://EN4102960.local:11311" />
	
	<machine name="PeopleBot" address="robot.local" default="never" user="Yochan" password="yochan123" env-loader="/home/Yochan/PeopleBot.sh" timeout="60"/>

	<include file="/home/yochan/launch/PeopleBot.launch" />
	<include file="/home/yochan/launch/navigation.launch" />
	<include file="/home/yochan/launch/server.launch" />
	
	<node pkg="rviz" name="rviz" type="rviz"/>

	<include file="/home/yochan/launch/speech_recognition.launch" />	
</launch>
